body {
    font-family: Arial, sans-serif;
    background: #f0f2f7;
    margin: 0;
}

.header-minedu {
    background: #D32F2F;
    padding: 12px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 55px;
}

.card {
    background: white;
    width: 350px;
    padding: 25px;
    margin: 40px auto;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    text-align: center;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    background: #005BBB;
    color: white;
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.mensaje {
    margin-top: 12px;
    font-size: 14px;
}

/* Animación de carga */
.loader {
    margin: 15px auto;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #005BBB;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    animation: spin 1s linear infinite;
}

.hidden {
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
